# System & project files
.DS_Store
.*project
.settings

# Config files
build

# Compiled binaries and libs
bin/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
